<h1>New Band</h1>

<%= render 'shared/errors' %>

<form action="<%= bands_url %>" method="POST">
  <%= csrf_input %>
  <label>Name
    <input type="text" name="band[name]">
  </label>
  <input type="submit" value="Submit">
</form>
